* {
  font-family: "Poppins", sans-serif;

  font-style: normal;
}
.sg {
  background: #26dfcf32;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.bg-wlp {
  background: url("Images/plant\ gif.gif");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  position: fixed;
  top: 0;
  z-index: -1;
}

.head-sec {
  background: linear-gradient(
      rgba(0, 0, 0, 0.601),
      rgba(0, 0, 0, 0.249),
      rgb(15, 15, 15)
    ),
    url("Images/depositphotos_113960198-stock-photo-dark-soil-background-transformed.jpeg");
  height: 75vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.bg-grn {
  background: #1a5319;
}
.cl-grn {
  color: #1a5319;
}
.search {
  border: 2px solid #508d4e;
  border-radius: 0.3rem;
}
.search:hover {
  border: 2px solid #1a5319;
}
.cp {
  cursor: pointer;
}
.nav-txt {
  transition: 200ms ease-in-out;
  color: black;
}
.nav-txt:hover {
  color: #508d4e !important;
  transform: scale(1.1) !important;
}
.carousel-inner {
  height: 30rem;
}
.bnr {
  background: url("Images/Untitled-2.jpg");
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bnr1 {
  background: url("Images/cactus.jpg");
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* categories */
.ctgr {
  height: 12rem;
  width: 12rem;
  background: url("Images/hanger.png");
  background-position: center;
  background-size: contain;
  -webkit-filter: drop-shadow(0px -5px 5px rgba(49, 49, 49, 0.115));
  filter: drop-shadow(0px -5px 5px rgba(49, 49, 49, 0.138));
}
.ctgr img {
  height: 12rem;
  width: 12rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
}

.ctgr img:hover {
  transform: scale(1.1);
  animation: cat 3s infinite linear;
}

/* animation */
@keyframes cat {
  25% {
    margin-top: -0.5rem;
  }
  50% {
    margin-top: 0rem;
  }
  75% {
    margin-top: 0.5rem;
  }
  100% {
    margin-top: 0rem;
  }
}

.bgtblk {
  background: #ffffff15;
}

.stybg {
  width: 100%;
  height: 40rem;
  background: url("Images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbg {
  box-shadow: 0px 1px 5px gray;
}
